.env
.env.*
!.env.example

vendor/
node_modules/

.phpunit.result.cache
.phpunit.cache/

database/*.sqlite
database/*.sqlite-*

storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

.DS_Store
Thumbs.db
.idea/
.vscode/
.fleet/
.zed/
