.env
.env.*
!.env.example

*.log
data/
*.sqlite
*.sqlite-shm
*.sqlite-wal
.DS_Store
Thumbs.db

.phpactor.json
.phpunit.result.cache
.fleet/
.idea/
.nova/
.phpunit.cache/
.vscode/
.zed/
auth.json
Homestead.json
Homestead.yaml
node_modules/
public/build/
public/hot
public/storage/
storage/*.key
storage/api-docs/
storage/pail/
vendor/
!public/vendor/
!public/vendor/graphiql/
!public/vendor/graphiql/**
